body {
    background-image: url("../images/background.jpg");
    */
}

h1 {
	color: #0198E1;
}

.jewel {
    width: 256px;
    height: 256px;
    padding: 15px;
    margin: 5px 7px 20px 5px;
}


p {
    color: #05EDFF;
    padding: 5px;
}

#generatedNumb{
	color: #5C3317;
    font-size: 20px;
    background-color: #0198E1;
    text-align: center;
    margin: 5px;
}

#wins-losses{
    color: #5C3317;
    font-size: 15px;
    background-color: #0198E1;
    text-align: center;
}

#scoreTotal{
	color: #5C3317;
    font-size: 20px;
    background-color: #0198E1;
    text-align: center;
    margin: 5px 200px 5px 5px;
}










/*
.total {
    width: 150px;
    height: 90px;
    background-color: #49E692;
    margin-right: 10px;
    font-size: 30px;
    color: #8A358F;
}

.result {
    width: 100px;
    height: 100px;
    background-color: #49E6D6;
    margin-left: 160px;
    margin-top: -90px;
}

.click {
    width: 80px;
    height: 80px;
}

.score {
    width: 180px;
    height: 30px;
    background-color: #12B5A2;
    margin-bottom: 10px;
}

h5 {
    color: white;
    padding-top: 7px;
}

.addition {
    width: 180px;
    height: 90px;
    background-color: #12B5A2;
    font-size: 30px;
    color: white;
}
